body {
  background-color: blue;
}

#header {
text-align: center;
color: white;
}
.item{
  padding: 10px;
  margin: 10px;
  border-radius: 10px;
  background-color: white;
  text-align: center;
}
input[type='text'] {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

input[type='submit'] {
  display: block;
  padding: 10px;
  margin: 0 auto;
  border-radius: 5px;
  background-color: white;
  text-align: center;
}

#list_section {
  text-align: center;
}
